.footerContact {
  background-color: #fff40a;
  padding: 40px 0;
  color: #fff;
}
.footerContact h1 {
  font-size: 40px;
}
footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}
footer .container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-gap: 20px;
}
footer img {
  width: 150px;
}

footer h2 {
  font-weight: 500;
}

footer p {
  color: white;
  margin: 20px 0;
  font-size: medium;
}

footer input {
  background-color: #fff;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

footer ul {
  display: block;
}
footer ul li {
  display: block;
  color: white;
  margin-bottom: 2px;
  font-size: medium;
}

.legal {
  text-align: center;
  padding: 20px;
  background: #1d2636;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.subscribebutton-mobile{
  display: none !important;
}

.subscribebutton-desktop{
  display: block !important;
}

.acmen-company-footer-listings {
  border: 2px solid none;
  width: 100%;
}

.footer-title-value {
  color: #fff40a;
  font-weight: 800;
}

.subscribe-container {
  border: 2px solid none;
  padding: 1%;
  margin: auto;
  width: 50%;
}

.subscribe-container h2{
  color: #fff40a;
}

.subscibenow-animate {
  border: 2px solid #fff40a;
  width: fit-content;
  padding-left: 10%;
  padding-right: 7%;
  font-style: italic;
}

.acmen-company-font-small {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.acmen-company-font-small:hover {
  text-decoration: underline 2px #fff40a;
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 800px) {

  footer .container {
    border: 2px solid none;
    grid-template-columns: repeat(1, 1fr);
    margin: 5% !important;
    grid-gap: 10px;
  }


  #box {
    margin-bottom: -1.5cm;
  }

  footer p {
    font-size: small;
  }

  footer ul li {
    font-size: small;
  }

  footer input {
    width: 100%;  
  }

  .legal span{
    font-size: small;
  }

  .subscribebutton-mobile{
    display: block !important;
  }

  .subscribebutton-desktop{
    display: none !important;
  }

  .acmen-company-footer-listings {
  border: 2px solid none;
  width: 100%;
  }

  .acmen-company-footer-listings {
    border: 2px solid none;
    width: 100%;
  }

  .acmen-company-footer-listings-box {
    width: 50%;
    border: 2px solid none;
  }


  footer h3 {
    font-weight: 400;
    margin-bottom: 0px;
    font-size: medium;
  }

  .footer-title-value {
    color: #fff40a;
    font-weight: 800;
  }

  .acmen-company-font-small {
    margin-bottom: 0.5em;
    cursor: pointer;
  }

  .subscribe-container {
    border: 2px solid none;
    width: 96%;
    padding: 1.5%;
    margin: 1.5%;
  }

  .subscribe-container h2 {
    font-size: medium;
    border: 1px solid #fff40a;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1.5%;
  }

  .input {
    border: 2px solid none;
    width: 90%;  
  }

}
